@import "/node_modules/@fontsource/roboto/300.css";
@import "/node_modules/@fontsource/roboto/400.css";
@import "/node_modules/@fontsource/roboto/500.css";
@import "/node_modules/@fontsource/roboto/700.css";

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding-left: calc(var(--mui-spacing) * 5);
}

body {
  font: var(--mui-font-body1)
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
